/user/*
# /*/**/CondaPkg.toml
.startup.jl
/**/*.log
/**/.CondaPkg/*
/**/.JuliaFormatter.toml
/**/.conda/*
.conda
/**/.projectile
/**/__pycache__/*
/**/deps/precompiles/*
/docs/build/
/render.html
/src/__pycache__/
/user/strategies/*
/user/.envrc
!/user/scripts/
Planar.so
test/test.jlo
Planar/test/
PlanarInteractive/test/
user/Load/test/
.vscode/
.kiro/

!/**/deps/precompiles/*_Planar*.jl
!Data/vendor/.gitkeep
!Data/vendor/zarr/.gitkeep
!user/strategies/README.md
!vendor/.gitkeep
!vendor/Temporal/
!vendor/DBnomics.jl/
!PlanarDev/
!PlanarInteractive/
!user/.envrc
!user/Load
!user/planar.toml
!user/strategies
!user/strategies/BBWithOpt
!user/strategies/BareStrat.jl
!user/strategies/BollingerBands
!user/strategies/Example.jl
!user/strategies/ExampleMargin
!user/strategies/ExampleMargin.jl
!user/strategies/MarginStrat
!user/strategies/RandomStratIso.jl
!user/strategies/Template.jl
!user/strategies/TwoIntervals
!user/strategies/TwoParameters
!user/strategies/SimpleStrategy
!user/strategies/common.jl
